**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/*.egg-info/
**/*.pyc
trusted_data_synthesis/.venv/
trusted_data_synthesis/.env
trusted_data_synthesis/artifacts/
/artifacts/
trusted_data_synthesis/.coverage
trusted_data_synthesis/build/
